
.level{
    background-color: black;
    padding: 4px
}

.heading{
    font-weight: bold;
    color:white
}

.navbar-item{
    color: white
}

.positive {
    color: #07cc00
}

.negative {
    color: red;
}
.mock-hero {
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
}

.currency::before {
    content: "$";
}

.percent::after {
    content: "%";
}
