
.level{
    background-color: black;
    padding: 4px
}

.heading{
    font-weight: bold;
    color:white
}

.navbar-item{
    color: white
}

.positive {
    color: #07cc00
}

.negative {
    color: red;
}
.mock-hero {
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
}

.currency::before {
    content: "$";
}

.percent::after {
    content: "%";
}
html { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; 
        background-image: url("https://www.investopedia.com/thmb/F1E7lBGBZjqgLKY8WCw6pz9zfzA=/2121x1414/filters:fill(auto,1)/Investingjourneypic-a9bb92f557694caaaa92b761eb2cadd9.jpg"); background-position: center; 
        background-repeat: no-repeat; background-size: cover}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0;
}