.margin {
    margin-top: 40px;
}
.margin2 {
    margin-top: 40px;
    margin-left: 40px;
}
.margins {
    margin-top: 40px;
}
.hugeMargin {
    margin-top: 80px;
}
.background {
background-color:  #EEE1C6;
}
.wall {
    margin-left: 40px;
}
#center {
    text-align: center;
}
#navbar {
    background: #071e36;
}
.borderR {
    border-radius: 25px;
    width: 500;
    height: 500;
}
#hidden {
    display: none;  
}
html { background: #ECEFF1; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; 
        background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.9MxwnAHLhNQiKvJm0Il6iQHaEo%26pid%3DApi&f=1"); background-position: center; 
        background-repeat: no-repeat; background-size: cover}
strong {
    color: white;
}
body {
    font-family: 'Open Sans';
}