.margin {
    margin-top: 40px;
}
.margin2 {
    margin-top: 40px;
    margin-left: 40px;
}
.margins {
    margin-top: 40px;
}
.hugeMargin {
    margin-top: 80px;
}
.background {
background-color:  #EEE1C6;
}
.wall {
    margin-left: 40px;
}
#center {
    text-align: center;
}
#navbar {
    background: #071e36;
}
.borderR {
    border-radius: 25px;
    width: 500;
    height: 500;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#hidden {
    display: none;  
}