.navbar{
    background: #071e36;
}
  body {
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/26/50/abstract-background-stock-market-background-vector-12252650.jpg");
  /* filter: blur(1px);
  -webkit-filter: blur(2px); */

  /* Full height */
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
} 

.hero-body {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 0.2px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
} 
.subtitle {
    color: white;
}
.title {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.landingTitle{
    text-shadow: 2px 2px 8px #FF0000;
}
