.navbar{
    background: #071e36;
}
  body {
  background-image: url("https://www.quoteinspector.com/media/investing/stock-price-tracking-sm.jpg");
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

  /* Full height */
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} 

.hero-body {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 0.2px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
} 