.navbar{
    background: #071e36;
}
  body {
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/26/50/abstract-background-stock-market-background-vector-12252650.jpg");
  /* filter: blur(1px);
  -webkit-filter: blur(2px); */

  /* Full height */
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
} 

 
.subtitle {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.title {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.subMessage{
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.is-4{
    color: #000000;
    text-shadow: 2px 2px white;
}
.is-5{
    color: #000000;
    text-shadow: 2px 2px white;
}